pipeline/Tips4.json
{
	"name": "Tips4",
	"properties": {
		"description": "How to dynamically access Activity Failure error message in Azure Data Factory?\n",
		"activities": [
			{
				"name": "Writing To blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RunDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().globalParameters.BlobStoreName,pipeline().parameters.BOName,pipeline().parameters.BOName,'_',variables('RUNDATE'),'.csv')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "\"This is Global Parameter Test\"",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "RunDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RUNDATE",
					"value": {
						"value": "@replace(replace(replace(pipeline().TriggerTime, '.','_'),':',''),'Z','')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Writing To blob",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "error",
					"value": {
						"value": "@activity('Writing To blob').Error.Code",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BOName": {
				"type": "string"
			}
		},
		"variables": {
			"RUNDATE": {
				"type": "String"
			},
			"error": {
				"type": "String"
			}
		},
		"annotations": [
			"@pipeline().globalParameters.BlobStoreName"
		],
		"lastPublishTime": "2023-03-14T23:58:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}