pipeline/Tips4_1.json
{
	"name": "Tips4_1",
	"properties": {
		"activities": [
			{
				"name": "Writing To blob",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://azureappdemostore.blob.core.windows.net/input/','test','_','2)','.csv')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "@variables('ListOItem')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('ListOItem')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ListOItem",
								"value": ""
							}
						}
					]
				}
			}
		],
		"variables": {
			"total": {
				"type": "String",
				"defaultValue": "800"
			},
			"ListOItem": {
				"type": "Array",
				"defaultValue": [
					"This is test",
					"This is TEST2"
				]
			}
		},
		"annotations": []
	}
}