pipeline/Tips7.json
{
	"name": "Tips7",
	"properties": {
		"description": "If inside if",
		"activities": [
			{
				"name": "Writing To blob",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().globalParameters.BlobStoreName,pipeline().parameters.BOName,'/',pipeline().parameters.BOName,'_',variables('RUNDATE'),'.csv')",
						"type": "Expression"
					},
					"method": "PUT",
					"headers": {
						"x-ms-version": "2017-11-09",
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "\"This is Global Parameter Test\"",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			},
			{
				"name": "ItemNo",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ItemNO",
					"value": {
						"value": "4",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ItemNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('ItemNO'),4)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"BOName": {
				"type": "string"
			}
		},
		"variables": {
			"ItemNO": {
				"type": "String"
			}
		},
		"annotations": [
			"@pipeline().globalParameters.BlobStoreName"
		],
		"lastPublishTime": "2023-03-14T23:58:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}